
a:link { color:red; }
a:visited {color:black;}
a:hover {color:blue;}
a:active {color:violet}


/*ejemplos aquí
a:link { color:darkgreen; text-decoration: none }
a.:visited { color: red;}
a:hover { color: darkviolet; font-weight: bold }
a:active { color: yellowgreen; }*/