body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    background-color: #e6d3b8;
}

h1 {
    text-align: center;
}
/*añadimos diferentes estilos para el enlace a otra página web*/
a:link {
    color: blue;
    text-decoration: white
}

a:visited {
    color:grey;
}

a:hover {
    color: blue;
    font-weight: bold
}

a:active {
    color: violet;
}